* {
    margin: 0;
    padding: 0;
}

td > img {
    width: 100px;
    height: 100px;
}

.navbar-inverse {
    font-weight: 700;
    text-transform: uppercase;
}

button, input {
    display: block;
    margin: auto;
    padding: 10px;
    color: black;
    font-weight: 700;
    margin-top: 5px;
}

input:hover {
    background-color: lightskyblue;
}

.center {
    text-align: center;
    margin-top: 10px;
}

.logowanie  {
    color: white;
    background-color: #333;
    padding: 15px;
}

.rejestracja {
    color: white;
    background-color: black;
    padding: 15px;
}

.facebook {
    background-color: #4267b2;
    color: white;
    padding: 15px;
}
